@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

:root{
    --primary: #6E4B87;
    --primaryDark: #411E5A;
    --primaryExtraDark: #280A3C;
    --secundary: #F0462D;
    --secundaryDark: #D23C28;
    --yellow: #FFB914;
    --yellowDark: #DCA014;
    --gradient-first: #FDB813;
    --gradient-second:#EF462E;
    --grayDark: #414141;
    --gray: #CCCCCC;
    --grayMedium: #BBBBBB;
    --grayLight: #E5E5E5;
    --grayLightTwo:#E5E6F0;
    --white: #FFFFFF;
    --black: #000000;
    --green: #4BC374;
    --borderRadius: 6px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html, body, #app {
    height: 100%;
    background: linear-gradient(180deg, var(--primary) 0%, var(--primaryExtraDark) 67.71%), var(--primaryDark);
    -webkit-font-smoothing: antialiased;
}

/* body {
    background: var(--grayLightTwo);
    
} */

::placeholder{
    color: var(--grayMedium);
    font-size: 14px;
    font-weight: normal;
}